.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #111;
  color: white;
}

.navbar a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
}

.navbar a:hover {
  color: #4f46e5;
}

.about {
  padding: 3rem;
  max-width: 900px;
  margin: auto;
}

.skills-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.skill-card {
  padding: 1rem 2rem;
  background: #f1f1f1;
  border-radius: 8px;
  transition: transform 0.3s;
}

.skill-card:hover {
  transform: translateY(-5px);
}
.projects {
  padding: 3rem;
  text-align: center;
}

.project-cards {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.project-card {
  background: #ffffff;
  padding: 1.5rem;
  width: 280px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}

/* GRID GALLERY */
.gallery {
  padding: 3rem;
  text-align: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.gallery-grid img {
  width: 100%;
  border-radius: 10px;
}


