.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #111;
  color: white;
}

.navbar a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
}

.navbar a:hover {
  color: #4f46e5;
}
